{% import "bootstrap/wtf.html" as wtf %}
{% import "utils/_my_wtf.html" as mywtf %}

{% macro render_simple_errors(form) -%}
  {% if form.errors %}
    <ul class="errors">
      {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
          <li>{{ form[field_name].label }}: {{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% endif %}
{%- endmacro %}

{% macro render_radio_inline_field(field) -%}
  <div class="form-group">
    {{ field.label }}
    <div class="form-group">
      {% for subfield in field%}
        <label class="radio-inline control-label">
          {{ subfield(class='radio-inline') }}{{ subfield.label.text }}
        </label>
      {% endfor %}
    </div>
  </div>
{%- endmacro %}

{% macro render_patient(form) -%}
  <fieldset>
    <legend>{{ form.label.text }}</legend>
    {{ form.hidden_tag() }}
    {% for subfield in form %}
      {% if subfield.type != "CSRFTokenField" %}
        {% if subfield.type == "RadioField" %}
          {{ render_radio_inline_field(subfield) }}
        {% elif subfield.type == "DateField" %}
          {{ wtf.form_field(subfield, placeholder="dd/MM/yyyy") }}
        {% else %}
          {{ wtf.form_field(subfield) }}
        {% endif %}
      {% endif %}
    {% endfor %}
  </fieldset>
{%- endmacro %}

{% macro render_dated_event(form) -%}
  {{ form.hidden_tag() }}
  <div class="form">
      <fieldset>
        <label><h3>{{ form.label }}</h3></label>
      </fieldset>
      <div class="form-group">
          {{ form.occurred.label }}:&nbsp;&nbsp;
          {{ mywtf.form_field(form.occurred) }}&nbsp;&nbsp;
          {{ form.date.label }}
          {{ form.date(class="form-control") }}
      </div>
  </div>
  <hr />
{%- endmacro %}


{% macro render_samples(form) -%}
  <fieldset>
    <legend>{{ form.label.text }}</legend>
    {% for sample_form in form.entries %}
      <h4 class="text-muted">{{ sample_form.label }} #{{ loop.index }}</h4>
      {{ wtf.form_field(sample_form.collection_date, placeholder="dd/MM/yyyy") }}
      {{ wtf.form_field(sample_form.semepi) }}
      {{ wtf.form_field(sample_form.admission_date, placeholder="dd/MM/yyyy") }}
      {{ wtf.form_field(sample_form.method_id) }}
      {{ wtf.form_field(sample_form.details) }}
      <fieldset>
        <legend class="text-muted">{{ sample_form.cdc_exam.label.text }}</legend>
        {{ wtf.form_field(sample_form.cdc_exam.flu_type) }}
        {{ wtf.form_field(sample_form.cdc_exam.flu_subtype) }}
        {{ wtf.form_field(sample_form.cdc_exam.dominant_ct) }}
        {{ wtf.form_field(sample_form.cdc_exam.details) }}
      </fieldset>
      <hr />
    {% endfor %}
  </fieldset>
{%- endmacro %}

{% macro render_admission(form) -%}
  <fieldset>
    <legend>Admissão</legend>
    {{ wtf.form_field(form.id_lvrs_intern) }}
    {{ wtf.form_field(form.first_symptoms_date) }}
    {{ wtf.form_field(form.semepi_symptom) }}
    {{ wtf.form_field(form.requesting_institution) }}
    {{ wtf.form_field(form.health_unit) }}
    {{ wtf.form_field(form.state) }}
    {{ wtf.form_field(form.city) }}
    {{ wtf.form_field(form.details) }}
  </fieldset>
{%- endmacro %}

{% macro prime_entities_fieldlist(fieldlist) -%}
    <fieldset>
        <legend>{{ fieldlist.label }}</legend>
        {% for formfield in fieldlist.entries %}
            {{ formfield.hidden_tag() }}
            <div class="form-inline">
                <div class="form-group">
                    {{ formfield.observed.label }}:&nbsp;&nbsp;
                    {{ mywtf.form_field(formfield.observed) }}&nbsp;&nbsp;
                </div>
                <div class="form-group">
                    {{ formfield.details(class="form-control", placeholder="Informações adicionais", size=30) }}
                </div>
            </div>
            <hr />
        {% endfor %}
    </fieldset>
{%- endmacro %}

{% macro sec_entities_fieldlist(fieldlist) -%}
    <fieldset>
        <legend>{{ fieldlist.label }}</legend>
        {% for formfield in fieldlist.entries %}
            {{ formfield.hidden_tag() }}
            <div class="form-inline">
                <div class="form-group">
                    <label class="checkbox-inline">
                        {{ formfield.observed }}
                        {{ formfield.observed.label.text }}&nbsp;&nbsp;
                    </label>
                </div>
                <div class="form-group">
                    {{ formfield.details(class="form-control", placeholder="Informações adicionais", size=30) }}
                </div>
            </div>
            <hr />
        {% endfor %}
    </fieldset>
{%- endmacro %}
