FLASK_APP=manage.py
FLASK_ENV=development
FLASK_CONFIG=development
SECRET_KEY=notsosecret
MAIL_USERNAME=example@email.com
MAIL_PASSWORD=mypassword
LABSYS_ADMIN=admin@email.com
LABSYS_ADMIN_PASSWORD=adminpassowrd
DATABASE_URL=postgresql:///develop
TEST_DATABASE_URL=postgresql:///testing
