{% extends "base.html" %}

{% block title %}LabSys - Confirme sua conta{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Olá, {{ current_user.email}}!
    </h1>
    <h3>Você ainda não confirmou sua conta.</h3>
    <p>
        Antes de acessar o site é necessário confirmar sua conta de email.
        Verifique sua caixa de entrada, você deve ter recebido um email com o link para a confirmação.
        Qualquer problema, entre em contato com o administrador.
    </p>
    <p>
        Deseja receber outro email de confirmação?
        <a href="{{ url_for('auth.resend_confirmation') }}">Clique aqui</a>
    </p>
</div>
{% endblock %}
