<div class="order-items-checkout">
  <table class="table table-responsive">
    <thead>
      <th>Reativo</th>
      <th>Catálogo</th>
      <th>Lote</th>
      <th>Data de Validade</th>
      <!-- <th>Unidade(s)/Produto</th> -->
      <th><b>Quantidade</b></th>
      <th><a href="#" data-toggle="tooltip" title="O total de unidades a serem inseridas em estoque. Obtido através de: Quantidade x Unidades por catálogo.">
          Total de unidades <span class="glyphicon glyphicon-question-sign"></span>
      </a></th>
    </thead>
    <tbody>
    {% for item in order_items %}
      <tr>
        <td>{{ item.item.product.name }}</td>
        <td>{{ item.item.catalog_number }}</td>
        <td>{{ item.lot_number }}</td>
        <td>{{ item.expiration_date.strftime('%d/%m/%Y') }}</td>
        <!-- <td>{{ item.item.units}}</td> -->
        <td>{{ item.amount }}</td>
        <td>{{ item.amount * item.item.units }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
