<div class="page-header">
    <h1>
      Estoque de Reativos
    </h1>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th width="30%">Reativo</th>
      <th width="10%">Lote</th>
      <th width="20%">Data de Validade</th>
      <th width="10%">Quantidade em Estoque</th>
      <!--
        As we are listing every stock product not nested, it does not make sense to
        show the minimum stock. When they're grouped it makes sense
      -->
      <!--<th width="10%">Estoque Mínimo</th>-->
    </tr>
  </thead>
  <tbody>
    {% for stock_product in stock_products %}
      {% if stock_product.amount > 0 %}
        <tr>
          <td>{{ stock_product.product.name }}</td>
          <td>{{ stock_product.lot_number }}</td>
          <td>{{ stock_product.expiration_date }}</td>
          <td>{{ stock_product.amount }}</td>
          <!--<td>{{ stock_product.product.stock_minimum }}</td>-->
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
