{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
  {% include "inventory/_navigation.html" %}
  <div class="page-header">
    <h1>Checkout</h1>
  </div>
  {% include "inventory/_cart.html" %}
  {{ wtf.quick_form(form) }}
  <br />
  <div class="btn btn-default">
      <a href="{{ url_for('inventory.purchase_product') }}">Voltar</a>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  document.getElementById("submit").className += " btn-success";
  document.getElementById("cancel").className += " btn-danger";
</script>
{% endblock %}
