{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
  {% include "inventory/_navigation.html" %}
  <div class="page-header">
    <h1>Checkout</h1>
  </div>
  <div class="order-items-checkout">
    <p>Total de itens no carrinho: {{ order_items | length }}</p>
    <table class="table table-responsive">
      <thead>
        <th>Reativo</th>
        <th>Catálogo</th>
        <th>Lote</th>
        <th>Data de Validade</th>
        <th>Unidade(s)/Produto</th>
        <th>Quantidade</th>
        <th>Total de Unidades</th>
      </thead>
      <tbody>
      {% for item in order_items %}
        <tr>
          <td>{{ item.item.product.name }}</td>
          <td>{{ item.item.catalog_number }}</td>
          <td>{{ item.lot_number }}</td>
          <td>{{ moment(item.expiration_date).format('DD/MM/YYYY') }}</td>
          <td>{{ item.item.units}}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.amount * item.item.units }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {{ wtf.quick_form(form) }}
{% endblock %}
