{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
  {% include "inventory/_navigation.html" %}
  <div class="page-header">
      <h1>Comprar Reativo</h1>
  </div>
  {{ wtf.quick_form(form) }}
  <p>Total de itens no carrinho: {{ session['order_items'] | length }}</p>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  document.getElementById("amount").required = false;
  document.getElementById("lot_number").required = false;
  document.getElementById("expiration_date").required = false;
</script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script type="text/javascript">
$('#item_id').select2({
    "language": {
        "noResults": function() {
            return "Produto não encontrado. <a href='{{ url_for('inventory.add_product_to_catalog') }}'>Cadastrar no Catálogo?</a>"
        }
    },
    escapeMarkup: function (markup) {
        return markup;
    }
});
</script>
{% endblock %}
