{% extends "base.html" %}

{% block title %}LVRS - Amostras{% endblock %}

{% block page_content %}
{% include "admissions/_navigation.html" %}
<div class="page-header">
    <h1>
      Listagem de Admissões
    </h1>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th width="5%">
                <span data-toggle="tooltip" title="Possui amostras cadastradas?">
                Status<i class="glyphicon glyphicon-question-sign"></i>
                </span>
            </th>
            <th width="15%">Número Interno</th>
            <th width="15%">Data de cadastro</th>
            <th width="20%">Admissão</th>
            <th width="20%">Amostras</th>
        </tr>
    </thead>
    <tbody>
        {% for admission in admissions %}
        <tr>
            <td>
                <span class="text-center center-block">
                {% if admission.samples.all()|length > 0 %}
                    <i style="color: green" class="glyphicon glyphicon-ok"></i>
                {% else %}
                    <i style="color: red" class="glyphicon glyphicon-remove"
                      title="Nenhuma amostra cadastrada"></i>
                {% endif %}
                </span>
            </td>
            <td>
                {{ admission.id_lvrs_intern }}
            </td>
            <td>{{ moment(admission.created_on).format('DD/MM/YYYY [-] HH:mm') }}</td>
            <td>
                <a href="{{ url_for('admissions.detail_admission', admission_id=admission.id) }}">Visualizar/Editar detalhes</a>
            </td>
            <td>
                <a href="{{ url_for('admissions.add_sample', admission_id=admission.id) }}">Visualizar/Editar amostras</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
