{% load staticfiles %}



<form method="POST">
  {% csrf_token %}
  <h2>Cadastro de Amostras:</h2>
  <h3>Dados institucionais</h3>
  {{ admission_note_form.as_p }}

  <h3>Informações do paciente</h3>
  {{ patient_form.as_p }}

  <h3>Tomou vacina contra a gripe?</h3>
  {{ flu_vaccine_form.as_p }}

  <h3>Amostras coletadas</h3>
  {{ collected_sample_formset.management_form }}
  {% for sample_form in collected_sample_formset %}
    <div class="sample-form">
      {{ sample_form.as_p }}
    </div>
  {% endfor %}

  {% for error in collected_sample_formset.non_form_%}
    {{ error|escape }}
  {% endfor %}

  <h3>Sintomas observados</h3>
  {{ observed_symptom_formset.management_form }}
  {% for observed_symptom_form in observed_symptom_formset %}
    <div class="observed-symptom-form">
      {{ observed_symptom_form.as_p }}
    </div>
  {% endfor %}

  {% for error in observed_symptom_formset.non_form_%}
    {{ error|escape }}
  {% endfor %}

  <p><button type="submit" class="button">Cadastrar</button></p>
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'jquery.formset.js' %}"></script>
<script>
    $('.sample-form').formset({
        addText: 'nova amostra',
        deleteText: 'remover'
    });
    $('.observed-symptom-form').formset({
        addText: 'novo sintoma',
        deleteText: 'remover',
    })
</script>