<div class="row">
  <div class="col-md-3">
    <a href="{{ url_for('inventory.create_add_transaction') }}" class="btn btn-success">Registrar Recebimento de Reativo</a>
  </div>
  <div class="col-md-3">
    <a href="{{ url_for('inventory.create_sub_transaction') }}" class="btn btn-danger">Registrar Baixa de Reativo</a>
  </div>
  <div class="col-md-3">
    <a href="{{ url_for('inventory.create_reactive') }}" class="btn btn-warning">Cadastrar Novo Reativo no Catálogo</a>
  </div>
</div>
<p></p>
<div class="row">
  <div class="col-md-2">
    <a href="{{ url_for('inventory.index') }}" class="btn btn-default">Visualizar Estoque</a>
  </div>
  <div class="col-md-2">
    <a href="{{ url_for('inventory.list_transactions') }}" class="btn btn-default">Visualizar Transações</a>
  </div>
  <div class="col-md-2">
    <a href="{{ url_for('inventory.list_catalog') }}" class="btn btn-default">Visualizar Catálogo</a>
  </div>
</div>
