<div class="page-header">
    <h1>
      Estoque de Reativos
    </h1>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th width="30%">Reativo</th>
      <th width="20%">Fabricante</th>
      <th width="20%">Número do Lote</th>
      <th width="15%">Quantidade em Estoque</th>
      <th width="15%">Estoque Mínimo</th>
    </tr>
  </thead>
  <tbody>
    {% for reactive in reactives %}
      <tr>
        <td>({{ reactive.product.catalog }}) {{ reactive.product.name }}</td>
        <td>{{ reactive.product.manufacturer }}</td>
        <td>{{ reactive.allotment }}</td>
        <td>{{ reactive.amount }}</td>
        <td>{{ reactive.product.min_stock }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
