{% extends "base.html" %}

{% block title %}LVRS - Gerenciamento de Reativos{% endblock %}

{% block page_content %}
  <div>
    <p><a href="{{ url_for('inventory.create_add_transaction') }}" class="btn btn-success">Registrar Recebimento de Reativo</a></p>
    <p><a href="{{ url_for('inventory.create_sub_transaction') }}" class="btn btn-danger">Registrar Baixa de Reativo</a></p>
    <p><a href="{{ url_for('inventory.create_reactive') }}" class="btn btn-warning">Cadastrar Novo Reativo no Catálogo</a></p>
  </div>
{% endblock %}
