{% extends 'labsys/base.html' %}
{% load crispy_forms_tags %}

{% block body-content %}
  {% if messages %}
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  {% endif %}

  {% if admission_note_form.errors %}
    <div class="error errorlist">
      {{ admission_note_form.errors }}
      {{ patient_form.errors }}
      {{ residence_form.errrors }}
      {{ observed_symptom_formset.errors }}
    </div>
  {% endif %}

  <form action="{% url 'admission_notes:create' %}" method="post" class="form-horizontal">
    {% crispy admission_note_form %}
    {% crispy patient_form %}
    {% crispy residence_form %}

    <!-- Sintomas principais -->
    <fieldset>
      <legend>Sintomas principais</legend>
      <table class="table">
        <thead>
          <tr>
            <th>Sintoma</th>
            <th>Observado?</th>
            <th>Detalhes adicionais</th>
          </tr>
        </thead>
        <tbody>
          {{  observed_symptom_formset.management_form }}
          {% for form in  observed_symptom_formset %}
            <tr>
              <td>
                <div class="form-group col-lg-4 control-label">
                  {{ form.symptom }}
                </div>
              </td>
              <td>
                <div class="form-group col-lg-2 radio-inline">
                  {{ form.observed}}
                </div>
              </td>
              <td>
                <div class="form-group col-lg-6">
                  {{ form.details}}
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>


    <p><a class="btn btn-primary" data-toggle="collapse" href="#collapse-symptoms" aria-expanded="false" aria-controls="collapse-symptoms">
      Sintomas Secundários
    </a></p>
    <div class="collapse" id="collapse-symptoms">
      {% crispy secondary_symptoms_form %}
    </div>

    <div class="form-group">
      <input type="submit" name="save" value="Salvar" class="btn btn-success" id="submit-id-save">
      <input type="button" name="cancel" value="Cancelar" class="btn btn-warning" id="button-id-cancel">
    </div>
  </form>

{% endblock body-content %}
