{% load static %}

{% if messages %}
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
{% endif %}

<h1>Admission Notes Index</h1>

<ul>
  {% for admission_note in admission_notes_list %}
    <li>
      <p>{{ admission_note.id_request_gal }}</p>
      <p>{{ admission_note.requestor }}</p>
      <p>{{ admission_note.health_unit }}</p>
      <p>{{ admission_note.state }}</p>
      <p>{{ admission_note.city }}</p>
      <p>{{ admission_note.admission_date }}</p>
    </li>
  {% empty %}
    <li>No admission notes.</li>
  {% endfor %}
</ul>

<script src="{% static 'js/main.js' %}" charset="utf-8"></script>
